.TagFormPlus {
    height: 43px;
}

.TagFormPlus > div {
    height: 100%;
}

/* Tag Form */
.TagForm {
    width: 100%;
}
.TagForm > div {
    padding: 16px;
}
.Container {
    width: 100%;
}
.Container > div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 4px;
}

/*  Add Button  */
.AddButton {
    background-color: var(--primary);
    border-radius: 4px;
    color: var(--white);
    font-size: 19px;
    height: 24px;
    margin-left: 8px;
    width: 24px;
}

/*  TOgGLE BUTTON  */
.ToggleButton {
    background-color: pink;
    bottom: 0px;
    display: none;
    height: 16px;
    position: absolute;
    right: 48px;
    width: 16px;
}
.ToggleButton.Second {
    bottom: auto;
    right: 24px;
    top: 0px;
}
.TagForm2:hover .ToggleButton {
    display: block;
}