.TagFormPlus {
    height: 43px;
}

.TagFormPlus > div {
    height: 100%;
}

/* Tag Form */
.Container {
    width: 100%;
}
.Container > div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 4px;
}

/*  Add Button  */
.Add {
    border-radius: 4px;
    font-size: 19px;
    height: 24px;
    margin-left: 8px;
    width: 24px;
}

/*  TOgGLE BUTTON  */
.Toggle {
    bottom: 0px;
    display: none;
    height: 16px;
    position: absolute;
    right: 48px;
    width: 16px;
}
.Toggle.Second {
    bottom: auto;
    right: 24px;
    top: 0px;
}
.PinnableTagForm:hover .ToggleButton {
    display: block;
}