.List {
    background-color: var(--gray);
    height: 100%;
    z-index: 0;
}
.List > div {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.NoTab > div > section:first-of-type {
    padding-top: 64px;
}