.Dashboard {
    height: 100%;
    max-width: 256px;
    margin-right: -16px;
    width: 66vw;
}
.Dashboard > .Inner {
    align-items: center;
    display: flex;
    flex-direction: row;
    height: 100%;
    padding-right: 16px;
}
.Dashboard > div > * {
    margin: 0px 4px;
}
.Dashboard div.Account {
    background-color: lightcoral;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    height: 100%;
    justify-content: center;
}
.Dashboard h6.Account_Name {
    text-align: right;
}