/*  TOOGLE BUTTON  */
.ToggleButton {
    background-color: pink;
    display: none;
    height: 16px;
    position: absolute;
    right: 24px;
    top: 0px;
    width: 16px;
}
.Basics:hover .ToggleButton {
    display: block;
}
.ToggleButton.Second {
    display: block;
    margin-left: 8px;
    position: relative;
    right: auto;
    top: auto;
}

.NotesField {
    height: 43px;
}
.NotesField > div {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}