/* Component */
.Throbber {
  background-color: transparent;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}
.Throbber > div {
  height: 100%;
}

/* Message */
.Throbber p {
  font-size: 9px; 
}