.Field {
    margin-bottom: 8px;
    width: 100%;
}
.Field:last-of-type {
    margin-bottom: 0px;
}
.Field input {
    display: block;
    flex-grow: 1;
    height: 16px;
}
.Field textarea {
    display: block;
    flex-grow: 1;
    height: 43px;
}
.Field input.Input:focus,
.Field textarea.Input:focus {
    outline: none;
}
.Field input.Invalid,
.Field textarea.Invalid {
    border: solid 1px red;
}

.Field label {
    font-weight: bold;
    left: 0px;
    position: absolute;
    top: 0px;
    visibility: hidden;
    z-index: -1;
}

.Field > div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.Field span {
    align-items: center;
    background-color: lightcoral;
    display: flex;
    flex-direction: column;
    height: 16px;
    justify-content: center;
    margin-left: 8px;
    width: 16px;
}
.Field span p {
    font-size: 7px;
}