.FilterAside > div {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.FilterButton {
    background-color: lightcoral;
    width: 100%;
    height: 28px;
    padding: 4px;
}
.FilterButton.Active {
    background-color: coral;
}