/*  Profile Page  */
.Profile {
    background-color: var(--gray);
    height: 100%;
}
.Profile > div {
    display: flex;
    flex-direction: row;
    height: 100%;
    justify-content: space-between;
    padding-top: 64px;
} 

.Editor {
    width: 100%;
}
.Editor > div {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
}
.Wrapper {
    background-color: var(--white);
    border-radius: 4px;
    height: auto;
    padding: 16px;
    width: 33%;
}
.Editor form {
    margin-bottom: 32px;
}