.List_Item {
    background-color: white;
    height: 64px;
    overflow: hidden;
    top: auto;
    transition: height 0.666s ease 0.333s;
    width: 100%;
}
.List_Item > div {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0px 16px;
}
.List_Item h3 {
    margin-bottom: 2px;
    opacity: 1;
    transition: opacity 0.167s ease 0.333s;
}
.List_Item p {
    margin-top: 2px;
    opacity: 1;
    transition: opacity 0.167s ease 0.333s;
}


.Selected {
    background-color: pink;
}
.Deleted {
    height: 0px;
}
.Deleted h3,
.Deleted p {
    opacity: 0;
}