.List_Item {
    background-color: white;
    height: 64px;
    width: 100%;
}
.Selected {
    background-color: pink;
}
.List_Item > div {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0px 8px;
}
.List_Item h3 {
    margin-bottom: 2px;
}
.List_Item p {
    margin-top: 2px;
}