/* Component */
.Aside {
    background-color: var(--primary);
    bottom: 0px;
    left: auto;
    position: fixed;
    right: 0px;
    top: 64px;
    width: 252px;
    z-index: 97;
}
.Aside > div {
    height: 100%;
    overflow: hidden;
    overflow-y: scroll;
    padding: 8px;
}
/*  Aside Header  */
.Header {
    margin-bottom: 8px;
}
.Header p {
    color: var(--white);
    font-size: 11px;
}

/*  Aside Interface  */
.Interface {
    margin: -8px -8px 8px -8px;
}
.Interface > div {
    display: flex;
    flex-direction: row;
    height: 100%;
    justify-content: space-between;
}
.Interface button {
    background-color: var(--white);
    border-color: var(--white);
    border-radius: 0;
    color: var(--primary);
    font-size: 11px;
    flex-grow: 1;
    height: 32px;
}
.Interface button.Active {
    background-color: var(--primary);
    border-color: var(--primary);
    color: var(--white);
}
/*  Aside Footer  */
.Footer {
    bottom: 0px;
    height: 32px;
    left: 0px;
    position: absolute;
    width: 100%;
}
.Footer > div {
    display: flex;
    flex-direction: row;
    height: 100%;
    justify-content: flex-end;
    
}
.Footer .Confirm {
    flex-grow: 1;
    height: 100%;
}
.Confirm:disabled {
    color: var(--secondary);
}
.Confirm:enabled {
    color: var(--white);
}
.Footer .Cancel {
    background-color: var(--primary);
    border-radius: 0;
    color: var(--white);
}

/*  Assign Aside  */
.AssignAside {
    border-top: 1px solid var(--secondary);
    margin: 0px -8px;
}
.AssignAside > div {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 0px 8px;
}
/*  Assign Button  */
.AssignButton {
    background-color: var(--primary);
    border-bottom: 1px solid var(--secondary);
    height: 64px;
    margin: 0px -8px;
    transition: background-color 0.1667s ease;
}
.AssignButton.Active {
    background-color: var(--secondary);
}
.AssignButton.Active {
    background-color: var(--secondary);
}
.AssignButton > div {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    padding: 0px 8px;
}
/*  Assign Button Text  */
.AssignButton .Title {
    color: var(--white);
    display: block;
    font-size: 15px;
    font-weight: 600;
    margin-top: -2px;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: color 0.1667s ease;
    width: 100%;
    white-space: nowrap;
}
.AssignButton .Details {
    color: var(--white);
    display: block;
    font-size: 11px;
    font-weight: 400;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: color 0.1667s ease;

    width: 100%;
    white-space: nowrap;
}
.AssignButton.Active .Title {
    color: var(--black);
}
.AssignButton.Active .Details {
    color: var(--black);
}

/* Filter Aside */
.FilterHeader {
    height: 32px;
}
.FilterHeader > div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100%;
}
.FilterHeader button {
    background-color: var(--white);
    color: var(--primary);
    font-size: 11px;
    flex-grow: 1;
    height: 100%;
}
.FilterHeader button.Active {
    background-color: var(--blue);
    color: var(--white);
}
/* Filter Aside Tags */
.Filter_Tag {
    background-color: var(--primary);
    border: 1px solid var(--white);
    color: var(--white);
}
.Filter_Tag.Filter_Selected {
    background-color: var(--white);
    color: var(--primary);
}
.Filter_Tag.Filter_Disabled {
    border-color: var(--secondary);
    color: var(--secondary);
}

/* Inspect Aside */
.Aside form {
    padding: 8px;
}
.InspectHeader > div {
    padding: 8px;
}
.InspectHeader p {
    color: var(--white);
    font-size: 11px;
}
.Aside input,
.Aside textarea {
    background-color: var(--primary);
    color: var(--white);
    font-weight: 600;
    letter-spacing: 0.06em;
}
.Aside input:focus,
.Aside textarea:focus {
    border-bottom-color: var(--white);
}
.Aside input::placeholder,
.Aside textarea::placeholder {
    color: var(--white);
    font-weight: 400;
}
/* Counters */
.Aside form > div > div > div > span > p {
    color: var(--white);
}
/* Add buttons */
.Inspect_Add:enabled {
    color: var(--white);
}
.Inspect_Add:disabled {
    color: var(--secondary);
}
/* Tags */
.Inspect_Tag {
    background-color: var(--primary);
    border: 1px solid var(--white);
    color: var(--white);
}
.Inspect_Tag.Inspect_Selected {
    background-color: var(--white);
    color: var(--primary);
}
/* Inspect Aux */
.InspectAux {
    border-radius: 0;
}
.InspectAux:enabled {
    background-color: var(--primary);
    border: none;
    color: var(--white);
}
.InspectAux:disabled {
    background-color: var(--primary);
    border: none;
    color: var(--secondary);
}

/* Navigation */
.Navigation {
    background-color: var(--primary);
    bottom: 0px;
    left: auto;
    position: fixed;
    right: 0px;
    top: 64px;
    width: 252px;
    z-index: 97;
}
.Navigation > div {
    height: 100%;
}
.Link {
    background-color: var(--primary);
    color: var(--white);
    font-size: 13px;
    font-weight: bold;
    letter-spacing: 0.06em;
    text-transform: capitalize;
}
.Break {
    background-color: var(--primary);
    height: 24px;
    margin-top: 8px;
    width: 100%;
}

/*  Report Aside  */
.Report_Tag {
    background-color: var(--primary);
    border-color: var(--white);
    color: var(--white);
}
.Report_Selected {
    background-color: var(--white);
    border-color: var(--white);
    color: var(--primary);
}