div.Row {
    height: auto;
    width: 100%;
}
div.Row > div {
    display: flex;
    flex-direction: row;
}


.Just_Start > div {
    justify-content: flex-start;
}
.Just_Between > div {
    justify-content: space-between;
}
.Just_Center > div {
    justify-content: center;
}


.Align_Start > div {
    align-items: flex-start;
}
.Align_End > div {
    align-items: flex-end;
}
.Align_Center {
    align-items: center;
}


.Fill {
    height: 100%;
}