div.Row {
    height: 100%;
    width: 100%;
}
div.Row > div {
    align-items: center;
    display: flex;
    flex-direction: row;
}
div.Row.Start > div {
    justify-content: flex-start;
}
div.Row.Between > div {
    justify-content: space-between;
}