.Modal {
    background-color: blue;
    border-radius: 8px;
    color: white;
    left: 50%;
    max-width: 256px;
    position: fixed;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 99;
}
.Modal h3 {
    margin-top: 16px;
    padding: 0px 16px;
}
.Modal p {
    margin-bottom: 16px;
    padding: 0px 16px;
}
.Modal > div > div {
    padding: 0 16px;
}