.ListItem {
    height: 64px;
    overflow: hidden;
    width: 100%;
}
.ListItem > div {
    height: 100%;
    /* padding: 0px 16px; */
}
.ListItem h3 {
    margin-bottom: 2px;
}
.ListItem p {
    margin-top: 2px;
}