.List_Item {
    background-color: white;
    overflow: hidden;
    top: auto;
    transition: height 0.666s ease 0.333s;
    width: 100%;
}
.List_Item > div {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0px 16px;
}
.List_Item h3 {
    margin-bottom: 2px;
    opacity: 1;
    transition: opacity 0.167s ease 0.333s;
}
.List_Item p {
    margin-top: 2px;
    opacity: 1;
    transition: opacity 0.167s ease 0.333s;
}

/*  ANIMATIONS & EFFECTS  */
@keyframes FADE {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes GROW {
    0% {
        height: 0px;
    }
    100% {
        height: 64px;
    }
}
.List_Item.New {
    animation: GROW 0.333s ease;
    height: 64px;
}
.List_Item.New h3,
.List_Item.New p {
    animation: FADE 0.333s ease;
    opacity: 1;
}
.Existing {
    height: 64px;
}
.Selected {
    background-color: pink;
}
.Deleted {
    height: 0px;
}
.Deleted h3,
.Deleted p {
    opacity: 0;
}