.Search {
    flex-grow: 1;
    height: 64px;
}
.Search > div {
    align-items: center;
    display: flex;
    flex-direction: row;
}
.Search input {
    background-color: white;
    border: none;
    border-radius: 16px;
    flex-grow: 1;
    height: 32px;
    margin: 0px 4px;
    padding-left: 6px;
}
.Search input:focus {
    outline: none;
}