/* Action */
.Action {
    background-color: var(--accent);
    bottom: 16px;
    color: var(--black);
    font-size: 13px;
    font-weight: 500;
    position: fixed;
    right: 16px;
    z-index: 96;
}
.Action:enabled {
    cursor: pointer;
}
.Action:disabled {
    cursor: default;
}


/* Bar Button */
.Bar {
    height: 32px;
    width: 100%;
}
.Bar:enabled {
    cursor: pointer;
}
.Bar:disabled {
    cursor: default;
}

/* Button */
.Button {
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 4px;
    font-size: 11px;
    padding: 4px;
    transition: background-color 0.1667s ease, border-color 0.1667s ease, color 0.1667s ease;
}
.Button:enabled {
    cursor: pointer;
}
.Button:disabled {
    cursor: default;
}

/*  Context Button  */
.ContextAction {
    background-color: var(--primary);
    height: 64px;
    position: absolute;
    top: 0px;
    transition: right 0.333s ease;
    width: 64px;
    z-index: 1;
}
.ContextAction > div {
    height: 100%;
}
.ContextAction button {
    background-color: transparent;
    color: var(--white);
    height: 100%;
    width: 100%;
}
.ContextAction.Destructive {
    background-color: var(--accent);
}
.ContextAction.Destructive button {
    color: var(--black);
}

/* Icon Button */
.Icon {
    border-radius: 4px;
    height: 32px;
    width: 32px;
}
.Icon:enabled {
    background-color: var(--primary);
    color: var(--white);
    cursor: pointer;
}
.Icon:disabled {
    background-color: var(--white);
    border: solid 1px var(--secondary);
    color: var(--secondary);
    cursor: default;
}

/* Quick Button */
.QuickButton {
    background-color: var(--primary);
    border-radius: 20px;
    color: var(--white);
    font-size: 15px;
    font-weight: 600;
    height: 40px;
    margin-right: 8px;
    width: 40px;
}
.QuickButton.QuickUndo {
    background-color: var(--accent);
    color: var(--black);
}