.Tag {
    min-width: 32px;
    padding-bottom: 4px;
    padding-right: 4px;
}
.Tag span {
    border: solid 1px blue;
    border-radius: 8px;
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    width: 100%;
}
.Tag span p {
    color: blue;
    font-size: 9px;
    text-transform: capitalize;
    user-select: none;
}


/* Select Tag */
.SelectTag {
    display: inline-block;
    padding-bottom: 4px;
    padding-right: 4px;
}
.SelectTag span {
    align-items: center;
    /* background-color: var(--white);
    border: solid 1px var(--primary); */
    border-radius: 12px;
    cursor: pointer;
    display: inline-block;
    padding: 3px 6px;
    text-align: center;
}
.SelectTag span p {
    /* color: var(--primary); */
    font-size: 9px;
    font-weight: bold;
    letter-spacing: 0.1em;
    text-transform: capitalize;
    user-select: none;
}
/* .SelectTag span.Selected {
    background-color: var(--primary);
}
.SelectTag span.Selected p {
    color: var(--white);
}
.SelectTag span.Pinned {
    background-color: var(--accent);
}
.SelectTag span.Pinned p {
    color: var(--black);
} */