.Tag {
    background-color: lightslategray;
    cursor: pointer;
    display: inline-block;
    height: 28px;
    margin: 4px;
    width: auto;
}
.Tag.Active {
    background-color: darkslategray;
    color: white;
}
.Tag > div {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 4px;
}


/* Button */
.Tab > div button {
    display: none;
    height: 28px;
    position: absolute;
    right: 0px;
    top: 0px;
    width: 28px;
}
.Tab:hover > div button {
    display: block;
}


.Tag2 {
    padding-bottom: 4px;
    padding-right: 4px;
}
.Tag2 span {
    align-items: center;
    background-color: lightslategray;
    border-radius: 12px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    padding: 4px 8px;
    width: 100%;
}
.Tag2 span p {
    font-size: 9px;
    text-transform: capitalize;
    user-select: none;
}

.Tag2 span.Selected {
    background-color: darkslategray;
    color: white;
}
.Tag2 span.Pinned {
    background-color: coral;
    color: white;
}

/*  DISPLAY TAG  */
.DisplayTag {
    padding-bottom: 4px;
    padding-right: 4px;
}
.DisplayTag span {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    width: 100%;
}
.DisplayTag span p {
    color: coral;
    font-size: 9px;
    user-select: none;
}
