/* Component */
.Header {
    background-color: var(--white);
    left: 0px;
    height: 64px;
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 97;
}
.Header > div {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100%;
    margin: 0px -4px;
    padding: 0px 16px;
}