/* Field */
.Field {
    margin-bottom: 8px;
    width: 100%;
}
.Field > div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.Field label {
    left: 0px;
    position: absolute;
    top: 0px;
    visibility: hidden;
    z-index: -1;
}
/* Field Input */
.Field input,
.Field textarea {
    border-bottom: 1px solid transparent;
    display: block;
    flex-grow: 1;
    font-size: 11px;
    height: 24px;
    transition: border-bottom-color 0.1667s ease;
}
.Field textarea {
    height: 4em;
    resize: none;
}
.Field input::placeholder,
.Field textarea::placeholder {
    text-transform: capitalize;
}
.Field input:focus,
.Field textarea:focus {
    outline: none;
}
/* Field Counter */
.Counter {
    align-items: center;
    background-color: transparent;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    height: 24px;
    justify-content: center;
    margin-left: 8px;
    transition: background-color 0.1667s ease;
    width: 24px;
}
.Counter p {
    color: var(--primary);
    font-size: 5px;
    font-weight: 600;
    letter-spacing: 0.1em;
}
/* Low Counter */
.Counter.Low {
    background-color: var(--accent);
}
.Counter.Low p {
    color: var(--black);
} 

/* Search */
.Search {
    background-color: var(--white);
    flex-grow: 1;
    height: 64px;
}
.Search > div {
    align-items: center;
    display: flex;
    flex-direction: row;
    height: 100%;
    justify-content: flex-start;
}
.Search input {
    font-size: 13px;
    color: var(--primary);
    height: 32px;
    margin: 0px 4px;
    max-width: 300px;
    width: 100%;
}
.Search input::placeholder {
    color: var(--primary);
}
.Search input:focus {
    outline: none;
}

/* Search Clear Button */
.Search .Clear {
    background-color: var(--white);
    border-radius: 4px;
    color: var(--primary);
    height: 24px;
    font-size: 16px;
    position: absolute;
    right: 12px;
    width: 24px;
}