.Modal {
    background-color: white;
    border-radius: 4px;
    box-shadow: 2px 2px 8px 2px var(--darkgray); 
    left: 50%;
    max-width: 256px;
    position: fixed;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 99;
}
.Modal > div {
    padding: 16px;
}

/*  Header  */
.Header {
    margin-bottom: 12px;
}
.Header > div {
    align-items: center;
    display: flex;
    flex-direction: row;
    height: auto;
    justify-content: flex-start;
}
/*  Icon  */
.Header span {
    border-radius: 4px;
    height: 32px;
    margin-right: 16px;
    width: 32px;
}
.Header span.DefaultIcon {
    background-color: var(--primary);
}
.Header span.WarningIcon {
    background-color: var(--accent);
}
/*  Title  */
.Header h3 {
    color: var(--black);
    font-size: 15px;
    font-weight: 600;
}

/*  Message  */
.Message {
    color: var(--black);
    font-size: 11px;
    font-weight: 400;
    margin-bottom: 8px;
}

/*  Input  */
.Modal input {
    color: var(--primary);
}
.Modal input::placeholder {
    color: var(--primary);
}
.Modal input:focus {
    border-color: var(--primary);
}

/*  Interface  */
.Interface > div {
    display: flex;
    flex-direction: row;
    height: 100%;
}
.Interface .Between {
    justify-content: space-between;
}
.Interface .Center {
    justify-content: center;
}