div.Column {
    flex-grow: 1;
    height: 100%;
}
div.Column > div {
    align-items: center;
    display: flex;
    flex-direction: column;
}
div.Column.Start > div {
    justify-content: flex-start;
}
div.Column.Between > div {
    justify-content: space-between;
}
div.Column.Center > div {
    justify-content: center;
}
div.Column.Center_Left > div {
    align-items: flex-start;
    justify-content: center;
}