/* Bar Link */
.Bar {
    height: 64px;
    padding: 0px 8px;
    width: 100%;
}

.Bar > a {
    align-items: center;
    display: flex;
    flex-direction: row;
    height: 100%;
    justify-content: center;
    text-align: center;
    text-decoration: none;
}

/* Link */
.Return {
    margin-left: -16px;
}
.Inner {
    padding-left: 16px;
}
.Return span {
    background-color: transparent;
    display: block;
    height: 64px;
    margin: 0px 4px;
    width: 64px;
}