/* Component */
.Return {
    margin-left: -16px;
}
.Inner {
    padding-left: 16px;
}
.Return span {
    background-color: var(--white);
    display: block;
    height: 64px;
    margin: 0px 4px;
    width: 64px;
}