.Aside {
    background-color: gold;
    bottom: 0px;
    left: auto;
    max-width: 256px;
    position: fixed;
    right: -256px;
    top: 64px;
    transition: right 0.666s ease;
    width: 66vw;
    z-index: 97;
}
aside.Active {
    right: 0px;
}
aside .Aside_Button {
    height: 64px;
    width: 100%;
}
aside .Aside_Button > div {
    padding: 8px;
}