/* Quick Bar */
.QuickBar {
    bottom: 16px;
    left: 0px;
    position: fixed;
}

/* Tab Bar */
.TabBar {
    background-color: gold;
    height: 32px;
}
.TabBar > div {
    display: flex;
    flex-direction: row;
    height: 100%;
    justify-content: flex-start;
}
.TabBar p {
    color: white;
    font-size: 11px;
    text-align: center;
    width: 100%;
}
.TabBar p > span {
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 100%;
    display: block;
    overflow: hidden
}
.QuickTab.AddTab {
    background-color: lightsalmon;
    width: 64px;
    height: 32px;
}
.AddTab > div {
    height: 100%;
}
.AddTab button {
    background-color: transparent;
    height: 100%;
    width: 100%;
}

/* Toolbar */
.Toolbar > div {
    align-items: center;
    background-color: var(--white);
    display: flex;
    flex-direction: row;
    height: 100%;
    justify-content: space-between;
}
.Toolbar > div > * {
    margin: 0px 4px;
}