.Context_Action {
    background-color: lightcoral;
    height: 64px;
    right: -72px;
    position: absolute;
    top: 0px;
    transition: right 0.333s, top 0.333s;
    width: 64px;
}
.Context_Action > div {
    height: 100%;
}
.Context_Action button {
    background-color: transparent;
    height: 100%;
    width: 100%;
}


.Active {
    right: 64px;
}

.Cancel {
    background-color: gold;
    top: 64px;
    right: 64px;
}
.Cancel.Active {
    top: 0px;
}

.Confirm {
    background-color: paleturquoise;
    top: 64px;
    right: 0px;
}
.Confirm.Active {
    top: 0px;
}

.Delete {
    background-color: coral;
    color: white;
    right: -128px;
}
.Delete.Active {
    right: 0px;
}