/* Colors */
html:root {
  --accent: #ffb600;
  --black: #242424;
  --gray: #f7f7f7;
  --primary: #0076ff;
  --secondary: #a3c6ef;
  --white: #ffffff;
}

html, body, div, header, main, nav, aside, footer,
input, textarea, button, img, ul, ol,
h1, h2, h3, h4, h5, h6, label, span, p, a, li {
  box-sizing: border-box;
  color: var(--black);
  font-family: "Montserrat", "Arial", sans-serif;
  margin: 0px;
  padding: 0px;
  position: relative;
}

html, body, body > div {
  height: 100%;
}

html, body {
  background-color: white;
}

button {
  border: none;
  cursor: pointer;
}
button:focus {
  outline: none;
  border: none;
}

input, textarea {
  border: none;
}
input:focus, textarea:focus {
  outline: none;
  border: none;
}