@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600&display=swap');

/* Colors */
html:root {
  --accent: #ffb600;
  --black: #242424;
  --gray: #f7f7f7;
  --darkgray: #e8e8e8;
  --primary: #0076ff;
  --secondary: #6aa4ff;
  --white: #ffffff;
}

/* Reset */
html, body, div, header, main, section, nav, aside, footer,
input, textarea, button, img, ul, ol,
h1, h2, h3, h4, h5, h6, label, span, p, a, li {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  position: relative;
}

/* HTML & Body Reset */
html, body, body > div {
  height: 100%;
}
html, body {
  background-color: var(--white);
}

/* Input Reset */
button {
  border: none;
  cursor: pointer;
  letter-spacing: 0.03em;
}
button:focus {
  outline: none;
  border: none;
}
input, textarea {
  border: none;
}
input:focus, textarea:focus {
  outline: none;
  border: none;
}

/* Text Reset */
h1, h2, h3, h4, h5, h6, label, span, p, a, li, button, input, textarea {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 0.03em;
}

/*  Media  */
img {
  width: 100%;
  height: auto;
}