.Stack {
    margin: 0px auto;
    width: 256px;
}

.ActionButton {
    background-color: blue;
    color: white;
    display: none;
    height: 16px;
    position: absolute;
    right: 12px;
    top: 12px;
    width: 16px;
}

.Stack article:hover .ActionButton {
    display: block;
}