.Stack {
    margin: 0px auto;
    width: 150px;
}

.ActionButton {
    background-color: var(--accent);
    color: var(--black);
    display: none;
    height: 24px;
    position: absolute;
    right: 12px;
    top: 12px;
    width: 24px;
}

.Stack article:hover .ActionButton {
    display: block;
}