.TabBar {
    background-color: gold;
    height: 32px;
}
.TabBar > div {
    display: flex;
    flex-direction: row;
    height: 100%;
    justify-content: flex-start;
}

.QuickTab {
    background-color: indigo;
    width: 64px;
    height: 32px;
}
.QuickTab.Active {
    background-color: green;
}
.QuickTab > div {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.AddButton {
    background-color: lightsalmon;
    width: 64px;
    height: 32px;
}
.AddButton > div {
    height: 100%;
}

.TabBar button {
    background-color: transparent;
    color: white;
    flex-grow: 1;
    font-size: 11px;
    height: 100%;
}

.QuickTab:hover button.Close {
    display: block;
}
button.Close {
    display: none;
    width: 24px;
}