.ContextAction {
    background-color: gold;
    height: 64px;
    right: -64px;
    position: absolute;
    top: 0px;
    transition: right 0.333s, top 0.333s;
    width: 64px;
}
.ContextAction.Destructive {
    background-color: coral;
    color: white;
    right: -128px;
}
.ContextAction > div {
    height: 100%;
}
.ContextAction button {
    background-color: transparent;
    height: 100%;
    width: 100%;
}


.ContextAction.Active {
    right: 64px;
}
.ContextAction.Destructive.Active {
    right: 0px;
}

/* .Cancel {
    background-color: gold;
    top: 64px;
    right: 64px;
}
.Cancel.Active {
    top: 0px;
}

.Confirm {
    background-color: paleturquoise;
    top: 64px;
    right: 0px;
}
.Confirm.Active {
    top: 0px;
}

.Destructive {
    background-color: coral;
    color: white;
    right: -128px;
}
.Delete.Active {
    right: 0px;
} */